@font-face {
	font-family: 'Effra';
	font-style: normal;
	font-weight: 400;
	src: local('Effra'), local('Effra'),
		url('./fonts/effra/Effra_Std_Rgn.otf') format('opentype'), /* Safari, Android, iOS */
}
@font-face {
	font-family: 'Effra';
	font-style: normal;
	font-weight: 800;
	src: local('Effra'), local('Effra'),
		url('./fonts/effra/Effra_Std_Bdn.otf') format('opentype'), /* Safari, Android, iOS */
}
@font-face {
	font-family: 'Effra';
	font-style: normal;
	font-weight: 200;
	src: local('Effra'), local('Effra'),
		url('./fonts/effra/Effra_Std_Ltn.otf') format('opentype'), /* Safari, Android, iOS */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Effra', Helvetica, Arial, Verdana, Tahoma, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cursor-pointer {
	cursor: pointer;
}

.inline-flex {
	display: inline-flex;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.scrollable-y-auto {
	overflow-y: auto; 
}

.ant-form-item-control {
	line-height: 0;
}

.ant-table-thead {
	background-color: #fdfcff;
}

.ant-layout {
	background: white;
}

.ant-layout-header {
	line-height: 32px;
	padding: 0;
}

.ant-layout-footer {
	padding: 0;
	
}

 .aws-sld__container {
	 padding-bottom: 30vw !important;
 }